@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@import "tailwindcss/preflight.css" layer(base);


@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  10%, 25% {
    opacity: 1;
    transform: translateY(0);
  }
  35%, 100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@layer utilities {
  .animate-fade-up {
    animation: fadeUp 12s infinite;
  }
}



@font-face {
  font-family: 'Chillax';
  src: url('./assets/fonts/chillax/Chillax-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('./assets/fonts/chillax/Chillax-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('./assets/fonts/chillax/Chillax-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('./assets/fonts/chillax/Chillax-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('./assets/fonts/chillax/Chillax-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('./assets/fonts/chillax/Chillax-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-chillax: 'Chillax', sans-serif;
}