@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@import "tailwindcss/preflight.css" layer(base);

/* For font-chillax  */

@font-face {
  font-family: 'Chillax';
  src: url('./fonts/chillax/Chillax-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('./fonts/chillax/Chillax-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('./fonts/chillax/Chillax-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('./fonts/chillax/Chillax-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('./fonts/chillax/Chillax-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Chillax';
  src: url('./fonts/chillax/Chillax-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* for font-steppe */

@font-face {
  font-family: 'Steppe';
  src: url('./fonts/steppe/Steppe-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('./fonts/steppe/Steppe-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('./fonts/steppe/Steppe-Book.woff2') format('woff2');
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('./fonts/steppe/Steppe-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('./fonts/steppe/Steppe-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('./fonts/steppe/Steppe-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('./fonts/steppe/Steppe-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('./fonts/steppe/Steppe-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('./fonts/steppe/Steppe-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* for font-gilroy */

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-UltraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-ExtraBoldItalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/gillroy/Gilroy-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

/* for font-oxygen */

@font-face {
  font-family: 'Oxygen';
  src: url('./fonts/oxygen/Oxygen-Light.woff') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('./fonts/oxygen/Oxygen-Regular.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url('./fonts/oxygen/Oxygen-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* for font-dmsans */

@font-face {
  font-family: 'DMSans';
  src: url('./fonts/dmsans/DMSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('./fonts/dmsans/DMSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'DMSans';
  src: url('./fonts/dmsans/DMSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DMSans';
  src: url('./fonts/dmsans/DMSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DMSans';
  src: url('./fonts/dmsans/DMSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@theme {
  --font-chillax: 'Chillax', sans-serif;
  --font-steppe: 'Steppe';
  --font-gilroy: 'Gilroy';
  --font-oxygen: 'Oxygen';
  --font-dmsans: 'DMSans';
}